In [1]:

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
flatdata = pd.read_csv ('Health.csv')
flatdata

  Ethnicity  Height (CM)  Weight (Kg) Will survive till 70
0     White        186.0         90.0                  Yes
1   African        185.0         98.0                   No
2     Asian        175.0         80.0                   No
3     White        180.0         88.0                  Yes
4     Asian        178.0          NaN                   No
5     Asian        172.0         72.0                  Yes
6   African        178.0         75.0                   No
7     White          NaN         89.0                  Yes
8   African        186.0         90.0                  Yes

In [3]:


X = flatdata.iloc [:,0:3]# independent
y = flatdata.iloc [:,3]# dependent
#print(y)
#X
X

  Ethnicity  Height (CM)  Weight (Kg)
0     White        186.0         90.0
1   African        185.0         98.0
2     Asian        175.0         80.0
3     White        180.0         88.0
4     Asian        178.0          NaN
5     Asian        172.0         72.0
6   African        178.0         75.0
7     White          NaN         89.0
8   African        186.0         90.0

In [4]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Ethnicity    9 non-null      object
 1   Height (CM)  8 non-null      float64
 2   Weight (Kg)  8 non-null      float64
dtypes: float64(2), object(1)
memory usage: 344.0+ bytes

In [5]:
from sklearn.preprocessing import LabelEncoder
lb = LabelEncoder()# create object of LE
X["Ethnicity"] = lb.fit_transform(X["Ethnicity"])
#print (X)

X

   Ethnicity  Height (CM)  Weight (Kg)
0          2        186.0         90.0
1          0        185.0         98.0
2          1        175.0         80.0
3          2        180.0         88.0
4          1        178.0          NaN
5          1        172.0         72.0
6          0        178.0         75.0
7          2          NaN         89.0
8          0        186.0         90.0

In [6]:
from sklearn.impute import SimpleImputer
# First create an Imputer , Stratergy means what we want to write in place of missed value
mss = SimpleImputer (missing_values = np.nan, strategy = 'mean')  
 
# Set which columns imputer should perform
mss = mss.fit (X.iloc[:,1:3])
# update values of X with new values
X.iloc[:,1:3] = mss.transform(X.iloc[:,1:3])

print(X)

   Ethnicity  Height (CM)  Weight (Kg)
0          2        186.0        90.00
1          0        185.0        98.00
2          1        175.0        80.00
3          2        180.0        88.00
4          1        178.0        85.25
5          1        172.0        72.00
6          0        178.0        75.00
7          2        180.0        89.00
8          0        186.0        90.00

In [7]:
#==============================================================================
# split the dataset into training and test set. We will use 80/20 approach
#==============================================================================


from sklearn.model_selection import train_test_split
#from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split (X, y, test_size = .20, random_state = 0)


#print("splitting done")
#print(X_train)		
#print(y_train)	
#print(X_test)	
X_train
X_test

   Ethnicity  Height (CM)  Weight (Kg)
7          2        180.0         89.0
2          1        175.0         80.0

In [8]:
#==============================================================================
# Fit the Logistic regression to the train data. Logistic regression is a 
# linear classifier after which the data is divided by a straight line.
#==============================================================================
from sklearn.linear_model import LogisticRegression
LRClassifier = LogisticRegression ()# object  of algorithm
LRClassifier.fit (X_train, y_train)

#==============================================================================
# Predict the values 
#==============================================================================

prediction = LRClassifier.predict (X_test)
print(prediction)
print(y_test)

['Yes' 'No']
7    Yes
2     No
Name: Will survive till 70, dtype: object

y_test

# true negative:no,no=1
# false positive :no,yes=0
# false negative :yes,no=0
# true positive :yes,yes=1
   N   P
N[TN   FP]
P[FN   TP]

In [9]:
from sklearn.metrics import accuracy_score

print(accuracy_score(y_test, prediction))

#Accuray=TP+TN/Total

1.0

In [10]:
#==============================================================================
# Create confusion matrix to evaluate performance of data
#==============================================================================
from sklearn.metrics import confusion_matrix
confusionMatrix = confusion_matrix (y_test, prediction)
confusionMatrix

array([[1, 0],
       [0, 1]], dtype=int64)